body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(89deg, #403866 30%, #6886ac 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace';
}

